﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Genel.master.cs" Inherits="Crm.Genel" %>

<!DOCTYPE html>

<html>
<head runat="server">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
    <%--  <link href="demo/css/demo.css" rel="stylesheet" />--%>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <link href="css/LoginCss.css" rel="stylesheet" />

    <!-- Yamm styles-->
    <link href="css/yamm.css" rel="stylesheet" />
    <!-- /container -->
    <!-- Bootstrap core JavaScript-->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <%--  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css"></script>--%>
    <script>
        $(document).on('click', '.yamm .dropdown-menu', function (e) {
            e.stopPropagation()
        })
        $(function () {
            window.prettyPrint && prettyPrint()
            $(document).on('click', '.yamm .dropdown-menu', function (e) {
                e.stopPropagation()
            })
        })
    </script>
    <!-- tweet and share :)-->
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
    <title>Hilmi Beken Müşteri İlişkileri Portalı</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">
        .auto-style1 {
            height: 40px;
            width: 84px;
        }
         .topnav-right {
  float: right;
  margin-top: 9px;
         }
     
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div class="navbar yamm navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <br />
                    <img src="image/hb%20logo%20birleşik.jpg" class="auto-style1" />
                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>                  
                </div>
                <div id="navbar-collapse-1" class="navbar-collapse collapse">
                    <br />
                    <ul class="nav navbar-nav">
                        <li class="dropdown"><a href="Yonetim.aspx">Ana Sayfa</a>
                        </li>
                        <li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Müşteri<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-2">
                                                <a href="Musteri_Listesi.aspx" class="thumbnail">
                                                    <%--<a href="Egitimler.aspx" class="thumbnail">--%>
                                                    <img alt="" src="image/shell.png" /></a>
                                                Müşteri Listesi
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Müşteri Ziyaret<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-2">
                                                <a href="Musteri_Ziyaret.aspx" class="thumbnail">
                                                    <img alt="" src="image/Müşteri Ziyaret.jpg" /></a>
                                                Müşteri Ziyaret Notları
                                            </div>
                                                <div class="col-xs-6 col-sm-2">
                                                <a href="Musteri_Ziyaret_Listesi.aspx" class="thumbnail">
                                                    <img alt="" src="image/customer visit.png" /></a>
                                                Müşteri Ziyaret Listesi
                                            </div>
                                            <div class="col-xs-6 col-sm-2">
                                                <a href="Musteri_Randevu.aspx" class="thumbnail">
                                                    <img alt="" src="image/müşteri ziyaret randevu.jpg" /></a>
                                                Müşteri Ziyaret Randevusu
                                            </div>
                                        
                                            <div class="col-xs-6 col-sm-2">
                                                <a href="Musteri_Randevu_Listesi.aspx" class="thumbnail">
                                                    <img alt="" src="image/customer.png" /></a>
                                                Müşteri Randevu Listesi
                                            </div>
                                             <!--<div class="col-xs-6 col-sm-2">
                                                <a class="thumbnail" href="CalendarPage.aspx">
                                                    <img alt="" src="image/customer.png" /></a>
                                                Müşteri Vergi No Giriş
                                            </div>
                                               <div class="col-xs-6 col-sm-2">
                                                <a class="thumbnail" href="Randevu_Giris.aspx">
                                                    <img alt="" src="image/customer.png" /></a>
                                                Randevu Giriş
                                            </div>-->
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Raporlar<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-2">
                                                <a href="Spancopdata.aspx" class="thumbnail">
                                                    <img alt="150x190" src="image/spancop data.png" /></a>
                                                Spancop Data
                                            </div>
                                            <div class="col-xs-6 col-sm-2">
                                                <a href="TTS_Sozlesme.aspx" class="thumbnail">
                                                    <img alt="150x190" src="image/özet performans.jpg" /></a>
                                                Özet Performans Raporu
                                            </div>
                                            <div class="col-xs-6 col-sm-2" hidden="hidden">
                                                <a href="#" class="thumbnail">
                                                    <img alt="150x190" src="image/190.jpg" /></a>
                                            </div>
                                            <div class="col-xs-6 col-sm-2" hidden="hidden">
                                                <a href="#" class="thumbnail">
                                                    <img alt="150x190" src="image/190.jpg" /></a>&nbsp;
                                            </div>
                                            <div class="col-xs-6 col-sm-2" hidden="hidden">
                                                <a href="#" class="thumbnail">
                                                    <img alt="150x190" src="image/190.jpg" /></a>
                                            </div>
                                            <div class="col-xs-6 col-sm-2" hidden="hidden">
                                                <a href="#" class="thumbnail">
                                                    <img alt="150x190" src="image/190.jpg" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>               
                    </ul>
                    <div class="topnav-right">
                   <a href="Default.aspx" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-log-out"></span> Çıkış </a>
                    </div>
                </div>                
            </div>
        </div>
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
